.App {
  height: 100vh;
  padding: 0px 100px;
  text-align: center;
}

.container{
  justify-content: center;
}

.empleado{
  display: flex;
  gap: 10px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  
}

